<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hackday Projects List</title>
  <link href="bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet">
  <style>.content {padding-top: 80px;}</style>
  <script src="bootstrap-3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="trans-code-link" href="http://trans-code.org" class="navbar-brand">
          <img height="40" width="120" alt="Trans-code" src="images/cropped-cropped-TransCode_transparent2.jpg" />
        </a>
        <ul class="nav navbar-nav nav-pills pull-left">
          <li class="active"><a href="index.html">Hackday projects</a></li>
          <li><a href="resources.html">Hackday Resources</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content" style="margin: 0px 5px 0px 5px">
    {{ content }}
  </div>

</body>
</html>
